[-http://www.owl-ontologies.com/travel.owl#Capital(X0), -http://www.owl-ontologies.com/travel.owl#Farmland(X0)]
[-http://www.owl-ontologies.com/travel.owl#Capital(X0), -http://www.owl-ontologies.com/travel.owl#NationalPark(X0)]
[-http://www.owl-ontologies.com/travel.owl#Sunbathing(X0), -http://www.owl-ontologies.com/travel.owl#Safari(X0)]
[-http://www.owl-ontologies.com/travel.owl#Museums(X0), -http://www.owl-ontologies.com/travel.owl#Sunbathing(X0)]
[-http://www.owl-ontologies.com/travel.owl#Yoga(X0), -http://www.owl-ontologies.com/travel.owl#Museums(X0)]
[-http://www.owl-ontologies.com/travel.owl#Town(X0), -http://www.owl-ontologies.com/travel.owl#NationalPark(X0)]
[-http://www.owl-ontologies.com/travel.owl#RuralArea(X0), -http://www.owl-ontologies.com/travel.owl#Capital(X0)]
[-http://www.owl-ontologies.com/travel.owl#City(X0), -http://www.owl-ontologies.com/travel.owl#NationalPark(X0)]
[-http://www.owl-ontologies.com/travel.owl#Farmland(X0), -http://www.owl-ontologies.com/travel.owl#City(X0)]
[-http://www.owl-ontologies.com/travel.owl#Farmland(X0), -http://www.owl-ontologies.com/travel.owl#Town(X0)]
[-http://www.owl-ontologies.com/travel.owl#Museums(X0), -http://www.owl-ontologies.com/travel.owl#BunjeeJumping(X0)]
[-http://www.owl-ontologies.com/travel.owl#Safari(X0), -http://www.owl-ontologies.com/travel.owl#Safari(X0)]
[-http://www.owl-ontologies.com/travel.owl#Sunbathing(X0), -http://www.owl-ontologies.com/travel.owl#Surfing(X0)]
[-http://www.owl-ontologies.com/travel.owl#Hiking(X0), -http://www.owl-ontologies.com/travel.owl#Sunbathing(X0)]
[-http://www.owl-ontologies.com/travel.owl#Yoga(X0), -http://www.owl-ontologies.com/travel.owl#Hiking(X0)]
[-http://www.owl-ontologies.com/travel.owl#Yoga(X0), -http://www.owl-ontologies.com/travel.owl#Surfing(X0)]
[-http://www.owl-ontologies.com/travel.owl#Surfing(X0), -http://www.owl-ontologies.com/travel.owl#BunjeeJumping(X0)]
[-http://www.owl-ontologies.com/travel.owl#Hiking(X0), -http://www.owl-ontologies.com/travel.owl#BunjeeJumping(X0)]
[-http://www.owl-ontologies.com/travel.owl#Museums(X0), -http://www.owl-ontologies.com/travel.owl#Surfing(X0)]
[-http://www.owl-ontologies.com/travel.owl#Hiking(X0), -http://www.owl-ontologies.com/travel.owl#Museums(X0)]
[-http://www.owl-ontologies.com/travel.owl#Sunbathing(X0), -http://www.owl-ontologies.com/travel.owl#BunjeeJumping(X0)]
[-http://www.owl-ontologies.com/travel.owl#Yoga(X0), -http://www.owl-ontologies.com/travel.owl#BunjeeJumping(X0)]
[-http://www.owl-ontologies.com/travel.owl#Campground(X0), -http://www.owl-ontologies.com/travel.owl#LuxuryHotel(X0)]
[-http://www.owl-ontologies.com/travel.owl#BedAndBreakfast(X0), -http://www.owl-ontologies.com/travel.owl#LuxuryHotel(X0)]
[-http://www.owl-ontologies.com/travel.owl#Adventure(X0), -http://www.owl-ontologies.com/travel.owl#Yoga(X0)]
[-http://www.owl-ontologies.com/travel.owl#Adventure(X0), -http://www.owl-ontologies.com/travel.owl#Sunbathing(X0)]
[-http://www.owl-ontologies.com/travel.owl#Relaxation(X0), -http://www.owl-ontologies.com/travel.owl#BunjeeJumping(X0)]
[-http://www.owl-ontologies.com/travel.owl#Sightseeing(X0), -http://www.owl-ontologies.com/travel.owl#Hiking(X0)]
[-http://www.owl-ontologies.com/travel.owl#Sports(X0), -http://www.owl-ontologies.com/travel.owl#Museums(X0)]
[-http://www.owl-ontologies.com/travel.owl#Sightseeing(X0), -http://www.owl-ontologies.com/travel.owl#Surfing(X0)]
[-http://www.owl-ontologies.com/travel.owl#Adventure(X0), -http://www.owl-ontologies.com/travel.owl#Hiking(X0)]
[-http://www.owl-ontologies.com/travel.owl#Adventure(X0), -http://www.owl-ontologies.com/travel.owl#Surfing(X0)]
[-http://www.owl-ontologies.com/travel.owl#Sports(X0), -http://www.owl-ontologies.com/travel.owl#BunjeeJumping(X0)]
[-http://www.owl-ontologies.com/travel.owl#Sports(X0), -http://www.owl-ontologies.com/travel.owl#Yoga(X0)]
[-http://www.owl-ontologies.com/travel.owl#Relaxation(X0), -http://www.owl-ontologies.com/travel.owl#Hiking(X0)]
[-http://www.owl-ontologies.com/travel.owl#Sports(X0), -http://www.owl-ontologies.com/travel.owl#Sunbathing(X0)]
[-http://www.owl-ontologies.com/travel.owl#Relaxation(X0), -http://www.owl-ontologies.com/travel.owl#Surfing(X0)]
[-http://www.owl-ontologies.com/travel.owl#Adventure(X0), -http://www.owl-ontologies.com/travel.owl#Museums(X0)]
[-http://www.owl-ontologies.com/travel.owl#Sightseeing(X0), -http://www.owl-ontologies.com/travel.owl#BunjeeJumping(X0)]
[-http://www.owl-ontologies.com/travel.owl#UrbanArea(X0), -http://www.owl-ontologies.com/travel.owl#Farmland(X0)]
[-http://www.owl-ontologies.com/travel.owl#RuralArea(X0), -http://www.owl-ontologies.com/travel.owl#City(X0)]
[-http://www.owl-ontologies.com/travel.owl#RuralArea(X0), -http://www.owl-ontologies.com/travel.owl#Town(X0)]
[-http://www.owl-ontologies.com/travel.owl#UrbanArea(X0), -http://www.owl-ontologies.com/travel.owl#NationalPark(X0)]
[-http://www.owl-ontologies.com/travel.owl#Sightseeing(X0), -http://www.owl-ontologies.com/travel.owl#Yoga(X0)]
[-http://www.owl-ontologies.com/travel.owl#Relaxation(X0), -http://www.owl-ontologies.com/travel.owl#Museums(X0)]
[-http://www.owl-ontologies.com/travel.owl#Sightseeing(X0), -http://www.owl-ontologies.com/travel.owl#Sunbathing(X0)]
[-=(http://www.owl-ontologies.com/travel.owl#OneStarRating, http://www.owl-ontologies.com/travel.owl#ThreeStarRating)]
[-=(http://www.owl-ontologies.com/travel.owl#OneStarRating, http://www.owl-ontologies.com/travel.owl#TwoStarRating)]
[-=(http://www.owl-ontologies.com/travel.owl#ThreeStarRating, http://www.owl-ontologies.com/travel.owl#TwoStarRating)]
[-http://www.owl-ontologies.com/travel.owl#FamilyDestination(X0), -http://www.owl-ontologies.com/travel.owl#QuietDestination(X0)]
[-http://www.owl-ontologies.com/travel.owl#Sightseeing(X0), -http://www.owl-ontologies.com/travel.owl#Relaxation(X0)]
[-http://www.owl-ontologies.com/travel.owl#BedAndBreakfast(X0), -http://www.owl-ontologies.com/travel.owl#Campground(X0)]
[-http://www.owl-ontologies.com/travel.owl#UrbanArea(X0), -http://www.owl-ontologies.com/travel.owl#RuralArea(X0)]
[-http://www.owl-ontologies.com/travel.owl#Adventure(X0), -http://www.owl-ontologies.com/travel.owl#Sightseeing(X0)]
[-http://www.owl-ontologies.com/travel.owl#Sports(X0), -http://www.owl-ontologies.com/travel.owl#Relaxation(X0)]
[-http://www.owl-ontologies.com/travel.owl#Adventure(X0), -http://www.owl-ontologies.com/travel.owl#Sports(X0)]
[-http://www.owl-ontologies.com/travel.owl#Sports(X0), -http://www.owl-ontologies.com/travel.owl#Sightseeing(X0)]
[-http://www.owl-ontologies.com/travel.owl#Adventure(X0), -http://www.owl-ontologies.com/travel.owl#Relaxation(X0)]
[-http://www.owl-ontologies.com/travel.owl#Hotel(X0), -http://www.owl-ontologies.com/travel.owl#BedAndBreakfast(X0)]
[-http://www.owl-ontologies.com/travel.owl#Hotel(X0), -http://www.owl-ontologies.com/travel.owl#Campground(X0)]